---
title: Release Notes (Changelog) - Hyperspace
layout: default
---
<div class = "container page-content">
    <div class = "row">
        <h2>Release Notes</h2>
    </div>
    {% for post in site.posts limit:1 %}
        <div class = "my-4 p-4 row shadow rounded">
            <div class = "col-sm-12 col-md-9 post">
                <h3>Version {{ post.version }} (current)</h3>
                <h5>Released on: {{ post.date | date: "%B %d, %Y"}}</h5>
                <p>{{ post.excerpt}}</p>
            </div>
            <div class = "col-sm-12 col-md-3">
                <a href = "{{post.url}}" class = "btn btn-theme-primary btn-block">Read release notes</a>
            </div>
        </div>
    {% endfor %}
    {% for post in site.posts offset:1 %}
        <div class = "my-2 p-4 row">
            <div class = "col-sm-12 col-md-9 post">
                <h3>Version {{ post.version }}</h3>
                <h5>Released on: {{ post.date | date: "%B %d, %Y"}}</h5>
                <p>{{ post.excerpt}}</p>
            </div>
            <div class = "col-sm-12 col-md-3">
                <a href = "{{post.url}}" class = "btn btn-theme-primary btn-block">Read release notes</a>
            </div>
        </div>
        <hr/>
    {% endfor %}
</div>