<div class = "row shadow rounded p-4 bg-theme-primary" style="position: relative">
    <div class = "beta-banner" style="background-image: url('{{ site.baseurl }}/assets/images/beta.png')"></div>
    <div class = "col-12 beta-content">
        <h4>Help try the next generation of Hyperspace</h4>
        <p>We're working on redesigning Hyperspace from the ground up with a new design, better layout, and new features to maximize the Hyperspace experience!</p>
        <p>Try out the testing version online and let us know what you think.</p>
        <a class = "btn btn-theme-secondary" href="https://hyperspaceapp-next.herokuapp.com">Try online</a>
    </div>
    <div class = "col-4">
        
    </div>
</div>