<head>
    <meta charset="utf8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:title" content="Hyperspace" />
    <meta property="og:description" content="Hyperspace is a fluffy client for Mastodon written in React and TypeScript."/>
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/icon.svg" />
    {% include styles.html %}
    {% include favicon.html %}
</head>