/* Font-rendering */
*,*:before,*:after {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
  }

/* Background Colors */
.bg-theme-primary {
    background-color: #5c2d91;
    color: #f4f4f4;
}

.bg-theme-secondary {
    background-color: #6b3e9f;
    color: #f4f4f4;
}

.bg-theme-tertiary {
    background-color: #936fbd;
    color: #f4f4f4;
}

/* Navbar-specific */
.navbar-brand {
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.dropdown-menu {
    border-color: #f4f4f4;
    box-shadow: 0px 0px 8px #999;
}

.dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.bg-navbar-homepage {
    background-color: transparent;
}

.bg-navbar-homepage * {
    color: #333 !important;
}

.bg-navbar-homepage .nav-item a {
    text-shadow: 0px 0px 4px #999;

}

.bg-navbar-theme-primary {
    background-color: #5c2d91;
}

.bg-navbar-theme-primary * {
    color: #f4f4f4;
}

.bg-navbar-theme-primary a {
    color: #f4f4f4;
}

.bg-navbar-theme-primary a.dropdown-item {
    color: #333;
}

.bg-navbar-theme-primary a:hover {
    color: #c6b0de;
}

.bg-navbar-theme-primary a:active {
    color: #936fbd;
}

/* Homepage-specific */
.homepage-hero {
    margin-top: 32px;
}

.homepage-hero h1 {
    font-weight: bold;
}

@media (min-width: 576px) {
    .homepage-hero {
        padding-top: 0px;
    }
}

@media (min-width: 768px) {
    .homepage-hero {
        padding-top: 128px;
    }
}

.homepage-hero-buttons {
    text-align: center;
}

.homepage-hero-buttons a.btn {
    margin: 8px;
}

.homepage-hero-image {
    margin-top: 16px;
    text-align: center;
}

/* Buttons */
.btn-theme-primary {
    background-color: #5c2d91;
    color: #f4f4f4 !important;
}

.btn-theme-secondary {
    background-color: #6b3e9f;
    color: #f4f4f4 !important;
}

.btn-theme-tertiary {
    background-color: #936fbd;
    color: #f4f4f4;
}

.btn-mas {
    background-image: url('../images/mas-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    height: 40px;
    width: 156px;
    min-width: 156px;
}

.btn-snap {
    background-image: url('../images/snap-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    height: 40px;
    width: 128px;
    min-width: 128px;
}

/* Footer */
footer {
    margin-top: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 12px;
    background-color: #f4f4f4;
    color: #333;
}

/* Regular content */
.page-content {
    margin-top: 32px;
}

.center {
    text-align: center;
}

.multi-button-span {
    display: flex;
    flex-wrap: wrap;
}

.multi-button-span a {
    margin-right: 8px;
    margin-bottom: 8px;
}

.post h1 {
    font-size: 1.75rem;
}

.post h2 {
    font-size: 1.5rem;
}